/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style OR utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color:#e0ddf1;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.container{
    background-color: white;
    width: 870px;
    padding:30px;
    padding-top:33px;
    padding-bottom: 43px;
    border-radius: 5px;
    margin-top: 26px;
    
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 30px;
}
/* top players style */
.Top-players{
    margin-bottom: 30px;
}
.section-title{
    color:#562eff;
    font-size: 24px;
    margin: 7px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-row-gap:30px ;
    padding: 20px;}
.player-name{
    font-size: 16px;
    padding: 20px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height:65px;
    width: 56px;
}
/*-------------------- 
    top blogs style
------------------------ */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
}
.blog{
    display:flex;
}
.blog .thumbnail img{
    height:117px;
    width:117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}
/*-------------------* 
        courses style---*----------- */
        .courses{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap:30px;
            border-radius: 10px;
            
        }
        .course .course-banner img{
            width: 224px;
            height: 104px;
        }
        .course-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .course-durition{
            background-color: #facad1;
            border: 5px solid #facad1;
            border-radius: 28px;
            color: #881e2e ;}
        .fa-star{
            font-size:12px;
        }
        .fa-star.filled{
            color:#ffc014;
        }
        .fa-star.empty{
            color:#aeaeae;
        }
        @media only screen and (max-width:688px) {
            .container {
                width:100%
            }
            .players, .blogs, .courses{
                grid-template-columns: repeat(1, 1fr);
            }
            .player,.blog ,.course{
                flex-direction: column;
            }
        }
        /* tablate devise */
        @media only screen and (min-width:688px) and (max-width:992px) {
            .container{
                width:100%;
            }
            .players ,.courses{
                grid-template-columns: repeat(2, 1fr);
            }
            .blogs{
                grid-template-columns: repeat(1, 1fr);
            }
           
        }
      